{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

<div id="custom-section-padding" class="">
  {% comment %} <h1 class="title title--primary inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ section.settings.title }}
  </h1> {% endcomment %}

  <div class="lookbook-header">
  
  <div class="lookbook-header__left">
    
{% if section.settings.lookbook_subtitle != blank %}
  <div class="lookbook-header__eyebrow">
    {{ section.settings.lookbook_subtitle }}
  </div>
{% endif %}

    {% if section.settings.title != blank %}
      <h1 class="title title--primary inline-richtext lookbook-header__title{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ section.settings.title }}
      </h1>
    {% endif %}

  </div>

 {% if section.settings.lookbook_meta != blank %}
  <div class="lookbook-header__meta">
    {{ section.settings.lookbook_meta }}
  </div>
{% endif %}

</div>
  {%- liquid
    case section.settings.sort
      when 'products_high', 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date', 'date_reversed'
        assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif

    assign moduloResult = 28 | modulo: section.settings.columns_desktop
    assign paginate_by = 30
    if moduloResult == 0
      assign paginate_by = 28
    endif
  -%}
  {%- paginate collections by paginate_by -%}
    <ul
      id="custom-collection-grid"
      class="collection-list grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
      role="list"
    >
      {%- for collection in collections -%}
        <li
          class="collection-list__item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {% render 'card-collection',
            card_collection: collection,
            media_aspect_ratio: section.settings.image_ratio,
            columns: 3,
            card_index: forloop.index
          %}
          
        </li>
      {%- endfor -%}
    </ul>
    {% render 'pagination', paginate: paginate %}
  {%- endpaginate -%}
</div>
{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "t:sections.main-list-collections.settings.title.default"
    },
    {
  "type": "header",
  "content": "Lookbook Header"
},
{
  "type": "text",
  "id": "lookbook_subtitle",
  "label": "Subtitle",
  "default": "VOL. I · DROP 01"
},
{
  "type": "color",
  "id": "lookbook_heading_color",
  "label": "Heading Color",
  "default": "#0B0B0B"
},
{
  "type": "text",
  "id": "lookbook_meta",
  "label": "Right Meta Text",
  "default": "09 FRAMES · SS 2026"
},
{
  "type": "range",
  "id": "lookbook_title_size",
  "min": 24,
  "max": 100,
  "step": 2,
  "default": 48,
  "label": "Title Font Size"
},
{
  "type": "range",
  "id": "lookbook_title_spacing",
  "min": -10,
  "max": 10,
  "step": 1,
  "default": -2,
  "label": "Title Letter Spacing"
},
{
  "type": "range",
  "id": "lookbook_subtitle_size",
  "min": 8,
  "max": 24,
  "step": 1,
  "default": 11,
  "label": "Subtitle Font Size"
},
{
  "type": "range",
  "id": "lookbook_meta_size",
  "min": 8,
  "max": 24,
  "step": 1,
  "default": 11,
  "label": "Meta Font Size"
},
{
  "type": "color",
  "id": "lookbook_border_color",
  "label": "Border Color",
  "default": "#000000"
},
{
  "type": "range",
  "id": "lookbook_border_opacity",
  "min": 0,
  "max": 100,
  "step": 1,
  "default": 18,
  "label": "Border Opacity"
},
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-list-collections.settings.image_ratio.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-list-collections.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "2",
      "label": "t:sections.main-list-collections.settings.columns_mobile.label"
    },
    {
  "type": "header",
  "content": "Meta Typography Settings"
},
{
  "type": "color",
  "id": "meta_text_color",
  "label": "Meta Text Color",
  "default": "#6B6B6B"
},
{
  "type": "color",
  "id": "meta_title_color",
  "label": "Title Color",
  "default": "#0B0B0B"
},
{
  "type": "range",
  "id": "meta_title_size",
  "min": 10,
  "max": 18,
  "step": 1,
  "default": 12,
  "label": "Title Font Size (px)"
},
{
  "type": "range",
  "id": "meta_number_size",
  "min": 10,
  "max": 18,
  "step": 1,
  "default": 12,
  "label": "Meta Number Font Size (px)"
}
  ]
}
{% endschema %}
<style>

@media screen and (min-width: 750px) {
  #custom-collection-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }
}
  #shopify-section-{{ section.id }} .lookbook-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
    padding-bottom: 20px;

    border-bottom: 0.5px solid rgb(
      {{ section.settings.lookbook_border_color.red }}
      {{ section.settings.lookbook_border_color.green }}
      {{ section.settings.lookbook_border_color.blue }}
      / {{ section.settings.lookbook_border_opacity }}%
    );
  }
  

  #shopify-section-{{ section.id }} .lookbook-header__left {
    display: flex;
    flex-direction: column;
  }

  #custom-section-padding {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px 64px; 
}

@media screen and (max-width: 990px) {
  #custom-section-padding {
    padding-top: 90px;
  }
}

  #shopify-section-{{ section.id }} .lookbook-header__eyebrow {
    font-size: {{ section.settings.lookbook_subtitle_size }}px;
    font-weight: 600;
    letter-spacing: 0.32em;
    color: #5a5a5a;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1;
  }

  #shopify-section-{{ section.id }} .lookbook-header__title {
    margin: 0;
    font-size: {{ section.settings.lookbook_title_size }}px;
    line-height: 0.95;
    letter-spacing: {{ section.settings.lookbook_title_spacing | divided_by: 100.0 }}em;
    text-transform: uppercase;
    font-weight: 900;
    color: {{ section.settings.lookbook_heading_color }};;
  }

  #shopify-section-{{ section.id }} .lookbook-header__meta {
    font-size: {{ section.settings.lookbook_meta_size }}px;
    font-weight: 600;
    letter-spacing: 0.22em;
    color: #5a5a5a;
    text-transform: uppercase;
    padding-bottom: 6px;
    line-height: 1;
    white-space: nowrap;
  }

  /* Tablet */
  @media screen and (max-width: 990px) {

    #shopify-section-{{ section.id }} .lookbook-header {
      padding-bottom: 16px;
      gap: 18px;
    }

    #shopify-section-{{ section.id }} .lookbook-header__title {
      font-size: calc({{ section.settings.lookbook_title_size }}px * 0.8);
    }

    #shopify-section-{{ section.id }} .lookbook-header__meta,
    #shopify-section-{{ section.id }} .lookbook-header__eyebrow {
      font-size: 10px;
    }
  }

  /* Mobile */
  @media screen and (max-width: 749px) {

    #shopify-section-{{ section.id }} .lookbook-header {
      padding-bottom: 14px;
    }

    #shopify-section-{{ section.id }} .lookbook-header__title {
      font-size: calc({{ section.settings.lookbook_title_size }}px * 0.6);
      line-height: 0.95;
    }

    #shopify-section-{{ section.id }} .lookbook-header__meta,
    #shopify-section-{{ section.id }} .lookbook-header__eyebrow {
      font-size: 9px;
    }
  }

  #custom-collection-grid { padding-top: 32px; }

</style>